<div>
    <div class="banner">
        <img src="~/Images/Banner/privacy.gif" style="width: 100%;" alt="Padmam Yoga Trust" />
        <div class="heading"><span>About Us</span></div>
    </div>
    <div class="team">
        <div class="center wow fadeInDown">
            <h2><span>Tamilnadu Sports Yogasana Association</span></h2>
            <p class="lead">
                <br>
            </p>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 col-sm-6">
                <div class="single-tfile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/babu.gif" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>M.BABU </h4>
                            <h5>Tamilnadu Sports Yogasana Association </h5>
                            <ul class="tag clearfix">
                                <h4>PRESIDENT</h4>




                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>
                            </ul>
									
                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <!--/.col-lg-4 -->

            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/Yogi Nehru.gif" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>YOGI P.NEHRU </h4>
                            <h5>Tamilnadu Sports Yogasana Association </h5>
                            <ul class="tag clearfix">

                                <h4>VICE PRESIDENT</h4>

                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>
                            </ul>
                        </div>

                    </div>
                    <!--/.media -->
                    <p></p>
                </div>
            </div>
            <!--/.col-lg-4 -->
        </div>
        <div class="row team-bar">
            <div class="first-one-arrow hidden-xs">
                <hr>
            </div>
            <div class="first-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="second-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="third-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="fourth-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        <!--skill_border-->


        <div class="row clearfix">
            <div class="col-md-4 col-sm-6">
                <div class="single-tfile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/ravi.gif" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>M.RAVI ARUMUGAM </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">

                                <h4>GENERAL SECRETARY</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <!--/.col-lg-4 -->

            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/koozhaiyammal.gif" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>A.KOOLAIAMMAL   </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">

                                <h4>JOINT SECRETARY</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>
                        </div>

                    </div>
                    <!--/.media -->
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" style="height: 145px;" src="images/Gokulakrishnan.jpeg" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>M.R.GOKULA KRISHNAN   </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">

                                <h4>BRABA KANDA SECRETARY</h4>
                                <br />
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>
                        </div>

                    </div>
                    <!--/.media -->
                    <p></p>
                </div>
            </div>
            <!--/.col-lg-4 -->
        </div>
        <div class="row team-bar">
            <div class="first-one-arrow hidden-xs">
                <hr>
            </div>
            <div class="first-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="second-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="third-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="fourth-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        <!--skill_border-->


        <div class="row clearfix">
            <div class="col-md-4 col-sm-6">
                <div class="single-tfile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                </div>
            </div>
            <!--/.col-lg-4 -->

            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/mathu magesh.gif" alt=""></a>
                        </div>
                        <div class="media-body">
                            <h4>K.MADHU MAGESH  </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">

                                <h4>TREASURER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>
                        </div>

                    </div>
                    <!--/.media -->
                    <p></p>
                </div>
            </div>
            <!--/.col-lg-4 -->
        </div>
        <div class="row team-bar">
            <div class="first-one-arrow hidden-xs">
                <hr>
            </div>
            <div class="first-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="second-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="third-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="fourth-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        <!--skill_border-->

        <div class="row clearfix">
        </div>
        <!--/.row-->

        <div class="row clearfix">
        </div>
        <!--/.row-->

        <div class="row clearfix">
        </div>
        <!--/.row-->
        <div class="row clearfix">
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/subramaniam.gif" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>R.SUBRAMANIAN </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/rajamanikkam.gif" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>M.RAJAMANIKKAM  </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/murali.gif" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>V.G.MURALI  </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" src="images/kumar.gif" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>T.KUMAR </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" style="height: 145px;" src="images/nandu.jpg" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>R.NANDAKUMAR </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" style="height: 145px;" src="images/rajasekar.jpeg" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>V.RAJASEKARAN </h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" style="height: 145px;" src="images/sri.jpg" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>SRIVIDHYA KALYANARAMAN</h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object" style="height: 145px;" src="images/ramya.jpg" alt=""></a>
                        </div>

                        <div class="media-body">
                            <h4>T.RAMYA</h4>
                            <h5>Tamilnadu Sports Yogasana Association</h5>
                            <ul class="tag clearfix">
                                <h4>EXECUTIVE MEMBER</h4>
                                <br>
                                <li class="btn"><a href="#"></a></li>
                                <li class="btn"><a href="#"></a></li>
                            </ul>

                        </div>
                    </div>
                    <!--/.media -->

                </div>
            </div>
        </div>
        <!--/.row-->

        <div class="row team-bar">
            <div class="first-one-arrow hidden-xs">
                <hr>
            </div>
            <div class="first-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="second-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="third-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-up"></i>
            </div>
            <div class="fourth-arrow hidden-xs">
                <hr>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        <!--skill_border-->




    </div>
</div>
