<div>
    <div class="banner">
        <img src="~/Images/Banner/contact.gif" style="width: 100%;" alt="Padmam Yoga Trust" />
        <div class="heading"><span>Contact</span></div>
    </div>
    <div class="content general">

        <div class="contact">
            <h2>Mobile</h2>
            <p><a href="tel:+91 90032 88211"><i class="fa fa-phone" aria-hidden="true"></i>+91 90032 88211</a>    </p>
        </div>
        <div class="contact">
            <h2>Email</h2>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>tnsya2014@gmail.com</p>
        </div>
        <div class="contact">
            <h2>Address</h2>
            <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>Address: No.1, Nehru St, Cooperative Nagar,
                <br />
                Nilamangai Nagar, Adambakkam, Chennai 600088
            </p>
        </div>

    </div>
    <div class="map">
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.871495133251!2d80.19868391477068!3d12.980069990850325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525dd15d8ca57b%3A0x965f0684705759ce!2sTamilnadu%20Sports%20Yogasana%20Association!5e0!3m2!1sen!2suk!4v1579616485169!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen=""></iframe>*@
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.871748516803!2d80.19866161477066!3d12.980053790850368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525df0f9b5c327%3A0xdc3cde1cad252266!2s1%2C%20Nehru%20St%2C%20Mangai%20Nagar%2C%20Nilamangai%20Nagar%2C%20Adambakkam%2C%20Chennai%2C%20Tamil%20Nadu%20600088%2C%20India!5e0!3m2!1sen!2suk!4v1579680382719!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen=""></iframe>
    </div>
</div>
<style>
    .map iframe {
        width: 100%;
    }
</style>
