<div>
    <div class="banner">
        <img src="~/Images/Banner/event.gif" style="width: 100%;" alt="Padmam Yoga Trust" />
        <div class="heading"><span>Events</span></div>
    </div>
    <div class="content general">
        <p><strong>Looking for something interesting? See what we have on offer. Please note that booking is essential for all events.</strong></p>

        <table class="classes">
            <tbody>

                <tr>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Event</td>
                    <td>Cost</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
