<div>
    <img src="~/UploadedFiles/TNSYABanner4.JPG" style="width: 100%;" alt="Padmam Yoga Trust" />

    <div id="anchor" class="content mainlinks">
        <!--<a<a href="events.html"><i class="fa fa-calendar" aria-hidden="true"></i>Event<br>Register 2019</a>-->
        <a href="Home/AboutUs"><i class="fa fa-calendar" aria-hidden="true"></i>View our<br>
            Exective Members Commitie's</a>
        <!--<a href="events.html"><i class="fa fa-users" aria-hidden="true"></i>Join us for one of<br>our unique events</a> -->
        <a href="Home/Contact"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Find the<br>
            Location</a>
    </div>

    <div class="content intro">
        <div>
            <h1>Welcome to Tamilnadu Sports Yogasana Association</h1>

            <p>There are many reasons why people choose yoga - for fitness, to aid recovery following injury, to stay healthy, to relieve stress through relaxation and meditation, and to provide strategies for dealing with depression. Participants are encouraged to enjoy the many benefits which yoga can bring to daily life.</p>

            <p>Tamilnadu Sports Yogasana Association holds regular events led by world renowned Teachers offering innovative ideas, practice methods and challenging explorations of the traditional teachings of Yoga.</p>



        </div>
    </div>
</div>
