<div>
    <div class="banner">
        <img src="~/Images/Banner/privacy.gif" style="width: 100%;" alt="Padmam Yoga Trust" />
        <div class="heading"><span>Privacy Policy</span></div>
    </div>
    <div class="content general">
        <h1>Privacy policy</h1>

        <p>This privacy policy sets out how we use and protect any information that you give us when you use this website.</p>

        <p>We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

        <p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>

        <h3>What we collect</h3>

        <p>We may collect the following personal information:</p>

        <ul>
            <li>Name</li>
            <li>Telephone Number</li>
            <li>Email Address</li>
            <li>Address</li>
        </ul>

        <p>This website does not take or store your financial details. This website communicates securely with our payment provider, PayPal. You can read <a href="https://www.paypal.com/gi/webapps/mpp/ua/privacy-prev">PayPal's privacy policy here</a>.</p>

        <h3>
            <br />
            What we do with the information we gather</h3>

        <p>If you subscribe to our newsletter, we will add you to our list of subscribers and send you up to one email per month. You can unsubscribe from these emails at any time using the link provided at the bottom of each message.</p>
        <p>If you make a booking, we will add your details to our system in order to facilitate your booking. We will never sell your information to third parties.</p>

        <h3>Security</h3>

        <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

        <h3>How we use cookies</h3>

        <p>We may collect information about your computer, including your IP address, operating system and browser type, for system administration and in order to create reports. This is statistical data about our users&rsquo; browsing actions and patterns, and does not identify any individual.</p>
        <p>Such cookies in use on our site are for Google Analytics. Google Analytics is a web analytics tool that helps website owners understand how visitors engage with their website. Google Analytics customers can view a variety of reports about how visitors interact with their website so that they can improve it.</p>
        <p>Like many services, Google Analytics uses first-party cookies to track visitor interactions as in our case, where they are used to collect information about how visitors use our site. We then use the information to compile reports and to help us improve our site.</p>
        <p>Cookies contain information that is transferred to your computer&rsquo;s hard drive. These cookies are used to store information, such as the time that the current visit occurred, whether the visitor has been to the site before and what site referred the visitor to the web page.</p>
        <p>Google Analytics collects information anonymously. It reports website trends without identifying individual visitors. You can opt out of Google Analytics without affecting how you visit our site &ndash; for more information on opting out of being tracked by Google Analytics across all websites you use, visit this <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google page</a>.</p>

        <h3>Links to other websites</h3>

        <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

        <h3>Controlling your personal information</h3>

        <p>You may request details of the personal information which we hold about you, or ask that we amend or remove your information from our systems at any time. If you would like to do this, please get in touch using the details shown on our contact page.</p>
    </div>
    <div class="pics">
        <img src="Images/Image/31-2.jpg" alt="Tamilnadu Sports Yogasana Association" />
        <img src="Images/Image/12.gif" alt="Tamilnadu Sports Yogasana Association" />
    </div>
</div>
